body{
    background : url('bg1.jpg') no-repeat center center/ cover;
    height: 1500px;
}
nav{
    display :flex ;
    flex-wrap:wrap;
}
.sub{
    padding: 40px;
    margin: 2px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;

   
}
a{
    text-decoration: none;
    color: rgb(255, 245, 245);
}
.logo {
    height: 140px;
    width: 140px;
}
h2{
    margin: auto;
text-align: center;
color: rgb(255, 255, 255);
}
p{   
    margin: auto;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 19px;
}
.btn{
     display: block;
     margin: auto;
    text-align: center;
    padding: 10px;
    color: rgb(164, 216, 21);
}
a:hover{
    color: rgb(61, 238, 45);
}
.info{
     
    padding: 15px;
    margin: 19px;
}